body {
  font-family: "Noto Sans TC",Roboto, sans-serif;
  background-image: url('https://scontent.ftpe12-2.fna.fbcdn.net/v/t1.0-9/12369186_491727504364683_8752955944043633608_n.jpg?_nc_cat=109&_nc_sid=dd9801&_nc_oc=AQnf8RoLqKi2-BFL2wOXzqiKXV75Hj-0awakoD0ssTBqLLj-MqzIO3u0cIiW8DCc-iU&_nc_ht=scontent.ftpe12-2.fna&oh=c33565f4a42560c212a9042281fcfeb3&oe=5EDC1464');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  margin: 0 auto 0 auto;
}

.white-text{
  color:white
}
