body {
  font-family: "Noto Sans TC",Roboto, sans-serif;
  background-image: url('https://scontent.ftpe12-2.fna.fbcdn.net/v/t1.0-9/12369186_491727504364683_8752955944043633608_n.jpg?_nc_cat=109&_nc_sid=dd9801&_nc_oc=AQmsPsl2hGqeSN9fLl6njKeI3GSXRTIoCHtJa0nvlAu0yjH6IqaKgkpMHlMUVz_Ekdw&_nc_ht=scontent.ftpe12-2.fna&oh=e346792cb701f44ef4a7150a9d8756fe&oe=5EA8A9E4');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  margin: 0 auto 0 auto;
}

.white-text{
  color:white
}
